.getRequest {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.usersCards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1170px;
  margin: 140px 0;
  @include for-768px {
    margin: 140px 32px;
  }
  @include for-1024px {
    margin: 140px 60px;
  }
  @include for-2560px {
    margin: 140px 0;
  }
  &__title {
    margin: 0;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color: rgba(0, 0, 0, 0.87);
  }
  &__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    margin: 50px 0;
    @include for-768px {
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }
}
