.mainInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../../../public/wallpaper2.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  @include for-1024px {
    height: 650px;
  }
  @include for-2560px {
    width: 1170px;
  }
}
.info-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 16px 71px 16px;
  width: 328px;
  &__title {
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color: #ffffff;
    -webkit-text-stroke: 1px black;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  &__paragraph {
    margin-top: 21px;
    margin-bottom: 32px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #ffffff;
  }
}
